/* OcrApp.css */
body {
  background-color:cadetblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ocr-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color:cornsilk;
}

.upload-section {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.upload-section input {
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 20px;
}

.output-section {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.history-row {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success {
  color: #2ecc71;  /* Set text color to green for success */
}

.failed {
  background-color: #e74c3c;
}

